/*Base CSS */

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin :0px;
    
}
button{
    background-color: #E36BB9;
    border: 3px solid black;
    margin: 20px;
    padding:0px 20px;
    cursor: pointer;
    /* font-size: 21px; */
    font-size: 1.313rem;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
container.accueil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 35px;
    margin: 50px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;    
}
img{
    margin: auto;
    max-width: 100%;
    height: auto;
}
img.accueil{
    border : black solid 5px;
}
footer{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:black;
}

#reseaux {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-left: 20px;
}
#mentions{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
#tel{
    display: flex;
    justify-content: end;
    color: white;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.875rem;
    margin-right: 15px;
}
.reseaux-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 3rem;
    height: 3rem;
} 
p.footer{
    color: white;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding-right: 10px;
}
p{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
container.spectacle{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Media Queries pour mobile*/
@media screen and (min-width: 320px) and (max-width: 767.9px) {
    #navbar{
        flex-direction: column;
    }
    button{
            display: none;
    }
    h1{
        font-size: 20px;
        margin: 20px;
    }
    #mentions{
        font-size: 1rem;
        padding:10px 0px;
    }
    #tel{
        font-size: 1rem;
    }
    .reseaux-icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0px;
    } 
    footer{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    p.footer{
        font-size: 1.5rem ;
        margin:0px;
    }
}

/* Media Queries pour tablette */
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    #navbar{
        flex-direction: column;
    }
    button{
        display: none;
    }
    h1{
        font-size: 25px;
        margin: 30px;
    }
    #mentions{
        font-size: 1.5rem;
    }
    #tel{
        font-size: 1em;
    }
    .reseaux-icon{
        width: 2rem;
        height: 2rem;
        margin-bottom: 35px;
    } 
    footer{
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

}

/* Media Queries pour taille  petit desktop */ 
@media screen and (min-width: 1024px) and (max-width: 1439.9px) {
    button{
        margin: 30px;
        padding: 0px 30px;
        font-size: 1rem;
    }
    h1{
        font-size: 25px;
        margin: 30px;
    }
}





