#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    background-color: #E36BB9;
    border: 3px solid black;
    margin: 20px;
    padding:0px 35px;
    cursor: pointer;
    /* font-size: 21px; */
    font-size: 1.313rem;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
container.accueil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 35px;
    margin: 50px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;    
}
img{
    margin: auto;
    max-width: 100%;
    height: auto;
}
img.accueil{
    border : black solid 5px;
}
footer{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color:black;
    padding-right: 20px;
    padding-left: 20px;
}

#reseaux {
    display: flex;
    justify-content: start;
    gap: 20px;
}
#mentions{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
#tel{
    display: flex;
    justify-content: end;
    color: white;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.875rem;
}
.reseaux-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 3rem;
    height: 3rem;
} 
p.footer{
    color: white;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
p{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
container.spectacle{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
